.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
  border-bottom: 2px solid black;
}
.banner{
  display: inline-block;
  flex: 1 0 auto;
  max-width: 100px;
}
.navbar_ul {
  list-style-type: none;
  display: inline-block;
}
.navbar_item{
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}
.navbar_item.active{
  /* text-decoration: underline;
  text-decoration-thickness: 1px; */
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  font-weight: 600;
}
.navbar_item a{
  text-decoration: none;
  color: black;
}