.navbar{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 2px solid black;
  height: 120px;
}
.banner{
  display: inline-block;
  flex: 1 0 auto;
  max-width: 400px;
  height: 160px;
  object-fit: cover;
  margin: 0 0 0 0;
}
.navbar_ul {
  list-style-type: none;
  display: flex;
  margin: 0 5% 0 0;
}
.navbar_item{
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  margin: auto 12px;
  padding-bottom: 5px;
}
.navbar_item.active{
  /* text-decoration: underline;
  text-decoration-thickness: 1px; */
  border-bottom: 2px solid black;
  font-weight: 600;
  margin: auto 15px;
}
.navbar_item a{
  text-decoration: none;
  color: black;
}