@font-face {
  font-family: 'Ownglyph_noocar-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_noocar-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html, body{
  font-size: 20px;
  font-family: 'Ownglyph_noocar-Rg', sans-serif;
}

h1, h2, h3{
  font-family: 'LINESeedKR-Bd', sans-serif;
}

li{
  margin: 10px;
}

.modal{
  position: absolute;
  display: none;

  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.13);
  position: fixed;
  z-index: 1000;
}
.modal_body{
  position: absolute;
  display: flex;
  flex-direction: column;

  width: max-content;
  height: max-content;
  min-width: 400px;
  min-height: 600px;

  padding: 40px;
  
  text-align: center;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15);

  transform: translateY(50%);
}
.modal_content{
  display: flex;
  margin: 20 auto;
  width: 100%;

  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}
.modal_close{
  width: 100%;
  height: 50px;
}
.overflowHidden{
  overflow: hidden;
}
.modal_loading{
  position: absolute;
  display: flex;
  top: calc(50% - 240px);
  width: max-content;
  height: max-content;

  padding: 120px;
  
  text-align: center;

  background-color: grey;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15);

  transform: translateY(50%);
}
.loading_spinner {
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

#pokeList{
  display: block;
  justify-content: space-between;
}

.pokemon_outer_div{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.pokemon_inner_div{
  width: fit-content;
  margin: 20px auto;
}

.pokemon_img{
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
}

.pokemon_info{
  display: inline-block;
  font-size: 28px;
  overflow: hidden;
  height: 230px;
}
.pokemon_area{
  margin: 7px 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.pokemon_area::before{
  display: inline-block;
  width: 1px;
  content: '';
}
.pokemon_area::after{
  display: inline-block;
  width: 1px;
  content: '';
}
.pokemon_item{
  display: inline-block;
  /* border: 1px solid #0d48a1;
  background-color: #1565c0;
  color: #fff; */
  text-align: center;
  margin: 0 12px;
}
.pokemon_hidden_ability{
  color: gold;
}
.search_section{
  max-width: 400px;
}
.search_div{
  display: flex;
  margin: 20px auto;
  height: 40px;
  border: 2px solid;
}
.search_input{
  flex: 1 0 auto;
  border: 0;
  border-right: 1px solid;
}
.search_button{
  width: 20%;
  background-color: lightblue;
  border: 0;
}
.search_button:hover{
  background-color: rgb(130, 130, 236);
  color: white;
}
.search_item{
  
}